<app-header *appBreakpointObserver="large"></app-header>
<app-header-mobile *appBreakpointObserver="small"></app-header-mobile>

<div *appBreakpointObserver="large" class="large">
  <div class="card">
    <h2>What size are we at?</h2>
    <p>Desktop</p>
  </div>
</div>
<!-- <div *appBreakpointObserver="medium" class="medium">
  <div class="card">
    <h2>What size are we at?</h2>
    <p>Tablet</p>
  </div>
</div> -->
<div *appBreakpointObserver="small" class="small">
  <div class="card">
    <h2>What size are we at?</h2>
    <p>Mobile</p>
  </div>
</div>
