<div class="wrapper-container" [class.example-is-mobile]="isMobile">
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav
      #snav
      [mode]="isMobile ? 'over' : 'side'"
      [(opened)]="opened"
      [fixedInViewport]="isMobile"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{
          nav
        }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <h1 class="table-title">Material Sidenav</h1>
      <h4 class="subtitle">
        We are currently in
        <span>{{ isMobile ? "mobile" : "desktop" }}</span> view
      </h4>
      <p class="content" *ngFor="let content of fillerContent">{{ content }}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
