.table-title {
  padding-top: 15px;
  text-align: center;
  font-weight: 800;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.subtitle {
  text-align: center;
  background-color: rgb(181, 179, 182);
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 0 9px;

  span {
    font-weight: bold;
    font-size: 1.1rem;
  }
}

.content {
  padding-left: 10px;
  padding-right: 10px;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

// @media (max-width: 600px) {
//   .wrapper-container {
//     background-color: rgb(75, 75, 75);
//     height: calc(100vh - 56px);
//   }
//   .table-title {
//     font-size: 1.3rem;
//     color: whitesmoke;
//   }

//   .subtitle {
//     font-size: 0.7rem;

//     span {
//       font-size: 0.9rem;
//     }
//   }
// }
